$fontFamilySourceSans: "SourceSans", Arial, sans-serif;

$regularFontSize: 16px;
$hugeFontSize: 32px;
$giantFontSize: 36px;

$lightgrey: #f1f1f1;
$greydark: #333;
$grey: #666;
$lightblue: #f4fbfe;
$lightblue3: #dde7f0;
$white: #fff;

$transition: 0.3s;
