@import "../../styles/variables.scss";

.nav {
  &-list {
    list-style: none;
    padding: 0;
  }

  &-item {
    margin-right: 20px;
  }

  a {
    text-transform: uppercase;
  }

  &-icon {
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}
